Repository ParthivNaresh/Orcastrate: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-unit, python-check-imports

mypy:
  name: mypy (static type checking)
  entry: python -m mypy
  language: system
  args:
  - src/
  - --ignore-missing-imports
  - --no-error-summary
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests only)
  entry: python -m pytest
  language: system
  args:
  - tests/unit/
  - -x
  - --tb=short
  - -q
  pass_filenames: false

python-check-imports:
  name: python import validation
  entry: python -c
  language: system
  args:
  - import sys; [__import__(f.replace('/', '.').replace('.py', '')) for f in sys.argv[1:] if f.startswith('src/')]

separate quality into linting and security
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
  justfile
Due: none

logging with alive-progress
  pyproject.toml
  scripts/view_events.py
  src/agent/coordinator.py
  src/cli/main.py
  src/executors/base.py
  src/executors/concrete_executor.py
  src/logging/__init__.py
  src/logging/events.py
  src/logging/log_manager.py
  src/logging/progress_tracker.py
  src/planners/base.py
  src/planners/intelligent.py
  src/planners/template_planner.py
  src/tools/base.py
  src/tools/database/base.py
  src/tools/database/mongodb.py
  src/tools/database/mysql.py
  src/tools/database/postgresql.py
  src/tools/database/redis.py
  src/tools/terraform.py
Due: mypy, pytest-unit, python-check-imports

logging changes
  pyproject.toml
  src/cli/main.py
  src/executors/concrete_executor.py
  src/logging/events.py
  src/logging/log_manager.py
  src/logging/progress_tracker.py
  src/planners/base.py
  src/planners/template_planner.py
Due: mypy, pytest-unit, python-check-imports

test fixes
  src/cli/main.py
  src/executors/concrete_executor.py
  src/logging_utils/__init__.py
  src/logging_utils/events.py
  src/logging_utils/log_manager.py
  src/logging_utils/progress_tracker.py
  src/planners/base.py
  tests/unit/executors/test_concrete_executor.py
Due: mypy, pytest-unit, python-check-imports

test fixes
  src/cli/main.py
  tests/integration/test_end_to_end.py
Due: mypy, pytest-unit, python-check-imports

import fix
  tests/integration/test_end_to_end.py
Due: none

lint
  tests/integration/test_end_to_end.py
Due: none

test fix
  tests/unit/executors/test_concrete_executor.py
Due: pytest-unit

fixed logging issue
  src/cli/main.py
  src/logging_utils/log_manager.py
Due: mypy, pytest-unit, python-check-imports

created util for get_secure_app_directory
  src/cli/main.py
  src/logging_utils/log_manager.py
  src/utils/__init__.py
  src/utils/directories.py
  tests/integration/conftest.py
  tests/unit/conftest.py
  tests/unit/executors/test_concrete_executor.py
  tests/unit/tools/conftest.py
  tests/unit/tools/test_tools_docker.py
  tests/unit/tools/test_tools_filesystem.py
  tests/unit/tools/test_tools_git.py
  tests/unit/utils/__init__.py
  tests/unit/utils/test_directories.py
Due: mypy, pytest-unit, python-check-imports

test fix
  tests/unit/utils/test_directories.py
Due: pytest-unit

Path conditions:
  mypy: any of: ^src/.*\.py$
  pytest-unit: any of: ^(src|tests/unit)/.*\.py$
  python-check-imports: any of: ^src/.*\.py$
