Repository ParthivNaresh/Orcastrate: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest-unit, python-check-imports

mypy:
  name: mypy (static type checking)
  entry: python -m mypy
  language: system
  args:
  - src/
  - --ignore-missing-imports
  - --no-error-summary
  pass_filenames: false

pytest-unit:
  name: pytest (unit tests only)
  entry: python -m pytest
  language: system
  args:
  - tests/unit/
  - -x
  - --tb=short
  - -q
  pass_filenames: false

python-check-imports:
  name: python import validation
  entry: python -c
  language: system
  args:
  - import sys; [__import__(f.replace('/', '.').replace('.py', '')) for f in sys.argv[1:] if f.startswith('src/')]

Initial commit
  LICENSE
Due: none

added workflows
  .github/workflows/ci-example.yml
  .github/workflows/ci.yml
Due: none

test fixes and lint changes, also dependency updates
  .github/workflows/ci-example.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/test-live.yml
  .github/workflows/test.yml
  README.md
  bandit-report.json
  justfile
  poetry.lock
  pyproject.toml
  src/planners/analysis/constraint_extractor.py
  src/planners/analysis/requirements_analyzer.py
  src/planners/analysis/technology_detector.py
  src/planners/intelligent.py
  src/planners/llm/anthropic_client.py
  src/planners/llm/base.py
  src/planners/llm/openai_client.py
  src/planners/llm/prompt_templates.py
  src/tools/aws.py
  src/tools/database/base.py
  src/tools/database/mongodb.py
  src/tools/database/mysql.py
  src/tools/database/postgresql.py
  src/tools/multicloud_tool.py
  src/tools/terraform.py
  tests/live/test_aws_live.py
  tests/unit/agent/test_agent_coordinator.py
  tests/unit/executors/test_executors_base.py
  tests/unit/planners/llm/test_anthropic_client.py
  tests/unit/planners/llm/test_openai_client.py
  tests/unit/planners/test_planners_base.py
  tests/unit/security/test_security_manager.py
Due: mypy, pytest-unit, python-check-imports

workflow changes
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/test-live.yml
  .github/workflows/test.yml
  src/tools/database/mongodb.py
  src/tools/database/mysql.py
  src/tools/database/postgresql.py
  src/tools/database/redis.py
Due: mypy, pytest-unit, python-check-imports

workflow changes
  .github/workflows/quality.yml
  .github/workflows/test-live.yml
  .github/workflows/test.yml
Due: none

justfile changes
  justfile
Due: none

workflow changes
  .github/workflows/test.yml
Due: none

test fixes
  src/config/settings.py
  src/tools/aws.py
  src/tools/database/base.py
  src/tools/database/mongodb.py
  src/tools/database/mysql.py
  src/tools/database/postgresql.py
  src/tools/database/redis.py
  src/tools/docker.py
  tests/integration/test_config_integration.py
  tests/integration/test_database_integration.py
  tests/integration/test_justfile_commands.py
Due: mypy, pytest-unit, python-check-imports

test fixes
  tests/integration/test_justfile_commands.py
  tests/unit/config/test_settings.py
Due: pytest-unit

added env files
  .gitignore
  scripts/env/ci.env
  scripts/env/local.env
  scripts/env/staging.env
  scripts/env/testing.env
Due: none

fixed terraform tests
  .github/workflows/quality.yml
  .github/workflows/test-live.yml
  .github/workflows/test.yml
  src/tools/terraform.py
  tests/integration/test_terraform_integration.py
Due: mypy, pytest-unit, python-check-imports

fixed terraform tests
  .github/workflows/test-live.yml
  .github/workflows/test.yml
  tests/integration/test_terraform_integration.py
Due: none

clean workflows
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-live.yml
  .github/workflows/test-unit.yml
Due: none

fixes
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-live.yml
  .github/workflows/test-unit.yml
  justfile
  tests/integration/test_terraform_integration.py
Due: none

fix terraform test
  src/tools/terraform.py
Due: mypy, pytest-unit, python-check-imports

added sonarqube
  .github/workflows/sonarqube.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-live.yml
  .github/workflows/test-unit.yml
  justfile
  sonar-project.properties
Due: none

added sonar
  .github/workflows/ci.yml
  .github/workflows/sonarqube.yml
  sonar-project.properties
Due: none

added sonar
  .github/workflows/ci.yml
  .github/workflows/sonarqube.yml
Due: none

added sonar
  .github/workflows/ci.yml
Due: none

removed live tests from sonar
  .github/workflows/ci.yml
Due: none

reduce coverage to 5
  justfile
Due: none

sonar always runs
  .github/workflows/ci.yml
Due: none

fix live tests
  src/tools/docker.py
  tests/live/test_aws_live.py
  tests/unit/tools/test_tools_docker.py
Due: mypy, pytest-unit, python-check-imports

fix live tests
  src/tools/docker.py
  tests/unit/tools/test_tools_docker.py
Due: mypy, pytest-unit, python-check-imports

add coverage
  tests/unit/cli/__init__.py
  tests/unit/cli/test_cli_main.py
  tests/unit/executors/test_concrete_executor.py
Due: pytest-unit

Fix CLI logging directory creation for CI environment
  src/cli/main.py
  tests/unit/cli/test_cli_main.py
Due: mypy, pytest-unit, python-check-imports

improve reliability
  README.md
  bandit-report.json
  poetry.lock
  pyproject.toml
  src/cli/main.py
  src/planners/intelligent.py
  src/tools/multicloud/providers/aws_provider.py
  src/tools/multicloud_tool.py
  src/tools/terraform.py
  tests/unit/cli/test_cli_main.py
Due: mypy, pytest-unit, python-check-imports

added mongo test coverage
  tests/unit/tools/test_database_mongodb.py
Due: pytest-unit

added end to end integration tests
  .github/workflows/docs.yml
  tests/unit/cli/test_cli_main.py
Due: pytest-unit

updated docs
  docs/source/changelog.md
  docs/source/contributing.md
  docs/source/license.md
Due: none

improvements to template planner and added to readme
  README.md
  src/cli/main.py
  src/planners/template_planner.py
Due: mypy, pytest-unit, python-check-imports

fix tests
  tests/integration/test_end_to_end.py
  tests/unit/planners/test_planners_template.py
Due: pytest-unit

fix security
  src/planners/template_planner.py
Due: mypy, pytest-unit, python-check-imports

Optimizing workflows
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/quality.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-live.yml
  .github/workflows/test-unit.yml
Due: none

make tests dependent on quality/docs
  .github/workflows/ci.yml
  justfile
Due: none

Path conditions:
  mypy: any of: ^src/.*\.py$
  pytest-unit: any of: ^(src|tests/unit)/.*\.py$
  python-check-imports: any of: ^src/.*\.py$
